{% set records = __SELF__.records %}
{# set noRecordsMessage = __SELF__.noRecordsMessage #}
{% set dd_mm_now %}{{ "now"|date("d-m") }}{% endset %}

{% for record in records %}
    {% set dd_mm_person %}{{ record.date_dd }}-{{ record.date_mm }}{% endset %}
    <div class="calendar--item" itemscope>
        <time itemprop="birthday" datetime = "{{ record.date_yyyy }}-{{ record.date_mm }}-{{ record.date_dd }}" class="calendar--date">
            <span class="calendar--month">{{ record.date_month_name | truncate(3, false, "") | uppercase }}</span>
            <span class="calendar--day">{{ record.date_dd }}</span>
        </time>
    <div class="calendar--content_container">
        <span class="calendar--content" itemprop="name">{{ record.full_name }}</span>
        <span class="calendar--content">
    {% if dd_mm_person == dd_mm_now %}
        is vandaag {{ record.age }} jaar!<br>
    {% elseif record.upcoming_days >= 20 %}
        is {{ record.age }} jaar geworden<br />
    {% else %}
        wordt {{ record.age + 1 }} jaar<br>
    {% endif %}
        </span>
        </div>
    </div>
{% else %}
    <div class="calendar--item" itemscope>
        <div class="calendar--item" style="padding: 4px;">De komende tijd zijn er geen verjaardagen!</div>
    </div>
{% endfor %}